* {
  box-sizing: border-box;
}

body {
  background-color: brown;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
  background-color: yellow;
  min-height: 100vh;
}

.nav {
  
  display: flex;
  justify-content: space-between;
  background-color: pink;
  
}

.logo {
  font-size: 1.5em;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 100%;
}

.navlist {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navitem {
  text-decoration: none;
  padding-right: .5em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 1.3px;
  padding-left: 1em;
  
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  letter-spacing: 1.2px;
  line-height: 1.3em;
}

.about {

}

.portfolio {
  max-width: 100%;
  display: relative;
  background-color: cyan;
  max-width: 100%;
  display: relative;
  background-color: cyan;
  padding: 1em;
}

.portfolio-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.portfolio-img {
  width: 20vw;
  height: auto;
  margin: 0 auto;
  padding: .5em;
}

.contacts {
  height: 10vh;
  background-color: black;
  color: white;
}

.contacts-detail {
  font-size: .9em;
  font-weight: bold;
}
