* {
  box-sizing: border-box;
}

body {
  background-color: brown;
  height: 100%;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: pink;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  margin: 0 auto;
  background-color: yellow;
 
  
}


.logo {
  font-size: 1.5em;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 100%;
}

.navlist {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navitem {
  text-decoration: none;
  padding-right: .5em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 1.3px;
  padding-left: 1em;
  
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  letter-spacing: 1.2px;
  line-height: 1.3em;
}

.about {

}

.portfolio {
  
  background-color: cyan;
  
}

.portfolio-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  white-space: nowrap;
  overflow-x: auto;
  background-color: light-green;
  width: 100%;
  
}

 li {
  display: inline;
  width: 200px;
}

.portfolio-img {
  
  width: 30vw;
  height: auto;
  margin: 0 auto;
  padding: .5em;
}

.contacts {
  text-align: center;
  height: 10vh;
  background-color: black;
  color: white;
}

.contacts-detail {
 
  font-size: .9em;
  font-weight: bold;
}
