/* DO NOT LET THE SCREEN GO BELOW 640PX */

:root {
  --color-lightgrey: #E1E1E1;
  --color-beige: #D1CECE;
  --color-mediumgrey: #C4C4C4;
  --color-shadow: #717171;
  --color-dark: black;
  --page-width: 70vw;
  --nav-footer-height: 12vh;
  --canvas-height: 400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* debugging */
  background-color: pink;
  /* config size and pos*/
  margin: 0 auto;
  width: var(--page-width);
  max-width: 1200px;
  min-width: 640px;
  
  /* general config */
  font-family: 'Bad Script', cursive;
  letter-spacing: 1.5px;
  background-color: var(--color-lightgrey);
  
}

h3 {
  font-size: 3em;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 1.6em;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 1.3em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  letter-spacing: 1.2px;
  
}

a {
  text-decoration: none;
}


/* used throughout the page */
.canvas {
  /* config size and pos */
  height: var(--canvas-height);
  background-color: var(--color-beige);
  width: 100%;
  margin-bottom: 2em;

  /* general config */
  box-shadow: 5px 5px 10px var(--color-shadow);
}

/* Pic left, text right */
.canvas-left {
  transform: rotate(-3deg);
}

/* Text left, pic right */
.canvas-right {
  transform: rotate(3deg);
}


/* HEADER */
#header {
  /* config size and pos */
  height: var(--nav-footer-height);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.header-logo {
  /* debugging */
  /* background-color: lightsalmon; */

  /* config size and pos */
  
  /* general config */
  font-size: 3em;
}

.header-nav {
  /* debugging */
  /* background-color: lightgoldenrodyellow; */

  /* config size and pos */
  padding: 1em;
}

.header-nav--item {
  /* debugging */
  /* background-color: lightgreen; */

  /* config size and pos */
  padding-right: 1.5em;

  /* general config */
  text-decoration: none;
  font-size: 1.4em;
  color: var(--color-dark)
}


/* MAIN */

main {

}

/* PROFILE: CANVAS WITH PICTURE AND QUOTE */
#profile {
  /* debugging */
  /* background-color: lightcoral; */
  /* config size and pos */
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}

.profile-pic {
  /* debugging */
  /* background-color: lightgreen; */

  /* config size and pos */
  width: 300px;
  height: 300px;

  /* general config */
  box-shadow: 5px 5px 10px var(--color-shadow);
}

.profile-pic img {
  /* debugging */
  /* background-color: lightblue; */

  /* config size and pos */
  width: 100%;
  height: 100%;
}

.profile-quote {
  /* debugging */
  /* background-color: lightyellow; */

  /* config size and pos */
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* general config */
  background-color: var(--color-mediumgrey);
  box-shadow: 5px 5px 10px var(--color-shadow);
}

/* PROJECTS: CANVAS WITH CARDS */

.cards-wrapper {
  /* debugging */
  /* background-color: cyan; */

  /* config size and pos */
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;


}

.card {
  /* debugging
  /* background-color: pink; */

  /* config size and pos */
  height: var(--canvas-height);
  width: 400px;
  padding: .5em;
}

.card-top {
  /* config size and pos */
  display: flex;
  flex-direction: column;
}

.card-bottom {
  /* config size and pos */
  display: flex;
  flex-direction: column-reverse;
}

.card-pic {
  /* config size and pos */
  height: 80%;

  /*  general config */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px var(--color-shadow);
}

.card-pic > img {
  /* config size and pos */
  width: 100%;
  height: 100%;
  
  /* general config */
  object-fit: cover;
}

.card-text {
  /* config size and pos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  align-items: center;
}

.card-text--title {

}

.card-text--subtitle {

}

/* FOOTER */


#footer {
  /* config size and pos */
  display: flex;
  justify-content: center;
  height: var(--nav-footer-height);

  /* general config */
  font-size: 1.2em;
}

.description {
  /* debugging */
  /* background-color: lightcoral; */

  /* config size and pos */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.socials {
  /* debugging */
  /* background-color: lightgreen; */

  /* config size and pos */
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socials a {
  /* debugging */
  /* background-color: bisque; */

  /* config size and pos */
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: .5em;
}

.socials img {
  width: 100%;
  height: 100%;
  
}
